.quotes-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__data {
    tr {
      &:nth-child(2n) {
        background-color: #ecf0f1;
      }
    }
  }
}
.quotes-table {
  background: red;
}